%centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

%centerHoriz {
    display: flex;
    justify-content: center;
}

.container {
    
}

.table { 
    @extend %centerHoriz;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  