%centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

%centerHoriz {
    display: flex;
    justify-content: center;
}

%buttonConfig {
    float: right;
    margin: 20px 5px 0px 5px;
    color: grey;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.title {
    @extend %centerHoriz;
    color: gray;

 }

.table-container { 
    @extend %centerHoriz;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    flex-direction: column;
    
}

table {
    width: 99%;
    margin: 8px;
}

.buttons  {
    
}

.closer {
    @extend %buttonConfig;
}
  

  
td, th {
    width: 25%;
}

mat-form-field {
    font-size: 14px;
    margin: 8px;
        
}
  