

%centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

%centerHoriz {
    display: flex;
    justify-content: center;
}

%buttonConfig {
    float: right;
    margin: 20px 5px 0px 5px;
    color: grey;
    color: grey;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.title {
    @extend %centerHoriz;
    color: gray;
 }

.table-container { 
    @extend %centerHoriz;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    flex-direction: column;
}

table {
    width: 100%;
    margin: 8px;
}

.colorRow {
    color: yellow;
}

.mat-column-itCodigo, 
.mat-column-nrPedido, 
.mat-column-quantPed,
.mat-column-lote  {
    padding-left: 10px;
}

.buttons  {
    @extend %buttonConfig;
    margin-bottom: 5px;
}

.buttons img {
    width: 20px;
}

.closer {
    @extend %buttonConfig;
}
    

mat-form-field {
    font-size: 14px;
    margin: 8px;      
}

.form-table {
    @extend %centerHoriz;
    justify-content: space-between;
    
}

.spacer {
    flex: 1 1 auto;
}


#update {
    background-color: rgb(90, 168, 25);
}

#report {
    background-color: #00AEC7
}

#send {
    background-color: rgb(74, 105, 243);
}

