<div class="bg">        
    <mat-card class="cardLogin">
        <form class="formContainer">
            <div class="logoContainer">
                <img id="logoPrincipalLogin" src="../../assets/img/logoCorfio2019_white.png" alt="">
            </div>
            <mat-divider></mat-divider>
            
            <mat-form-field>
                <input autocomplete="off" 
                        matInput placeholder="Usuário" 
                        [(ngModel)]="user" 
                        name="user" value="">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input type="password" 
                        autocomplete="off" 
                        matInput placeholder="Senha" 
                        [(ngModel)]="senha" 
                        name="senha" value="">
            </mat-form-field>
            <div class="btnContainer">            
                <button color="primary" mat-button>Entrar</button>
            </div>
        </form>                                
    </mat-card>                            
</div>
    