
<!-- <div class="principal">
    <div>
        <span>É obrigatório informar o nome e senha do supervisor</span>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Usuário" value="" #user>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="password" matInput placeholder="Senha" value="" #pass >
        </mat-form-field>
        <button (click)="saveDataLogin( user.value, pass.value )"  mat-button>Liberar</button>
        <button (click)="closeSupForm()" mat-button>Cancelar</button>
    </div>
</div> -->

<div class="principal">
    <div>
        <span>É obrigatório informar o nome e senha do supervisor</span>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Usuário" value="" #user>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="password" matInput placeholder="Senha" value="" #pass >
        </mat-form-field>
    </div>
    <div>
        <p>data test: </p>  
        {{data.motSucata}}
    </div>
    <div>
        
          <!-- <mat-form-field *ngIf="devProd === 'devolucao'">        
            <mat-select [(ngModel)]="motDevSelect" placeholder="Selecione uma opção">
              <mat-option value="{{ motivo.codProblema }}" 
                          *ngFor="let motivo of motDevolucao">{{ motivo.descricao }}</mat-option>
            </mat-select>
          </mat-form-field> -->
    </div>
    <div class="buttons">
        <button (click)="saveDataLogin( user.value, pass.value )"  
                mat-raised-button color="primary">Liberar</button>

        <button (click)="closeSupForm()" 
                mat-raised-button color="warn">Cancelar</button>
    </div>

</div>


  