
  <div class="containerRep">    
    <div class="firstBlock">
    <mat-form-field id="ordemProd">
      <input matInput class="green" value="123456" placeholder="O.P.">
    </mat-form-field>
    <mat-form-field id="cliente">
      <input matInput class="green" placeholder="Cliente">
    </mat-form-field>
    <mat-form-field id="codProd">
      <input matInput class="green" placeholder="Cód.Prod.">
    </mat-form-field>
    <mat-form-field id="descProd">
      <input matInput class="green" placeholder="Desc.Prod">
    </mat-form-field>
    <mat-form-field id="dimBob">
      <input matInput class="green" placeholder="Dimensão Bob.">
    </mat-form-field>
    <mat-form-field id="bobMadeira">
      <input matInput class="green" placeholder="Bob.Madeira">
    </mat-form-field>
    <mat-form-field id="lote">
      <input matInput class="green" placeholder="Lote">
    </mat-form-field>
    <mat-form-field id="lance">
      <input matInput class="green" placeholder="Lance">
    </mat-form-field>
    <mat-form-field id="obsOP">
        <input matInput class="green" placeholder="Obs. O.P">
    </mat-form-field>
    <mat-form-field id="bobFinal">   
        <input matInput class="green" placeholder="Bob. Final">
    </mat-form-field>
    <mat-form-field id="variacao">                    
        <input matInput class="green" placeholder="Pode Variar">                    
    </mat-form-field>
    <mat-form-field id="varPermMin">
        <input matInput class="green" placeholder="Var. Permitida Min.">
    </mat-form-field>
    <mat-form-field id="varPerMax">
        <input matInput class="green" placeholder="Var. Permitida Max.">
    </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="quantidades">
      <mat-form-field id="quantBob">
          <input matInput class="green" value="0" placeholder="Qtd.Bobina">
      </mat-form-field>
      <mat-form-field id="quantRolo">
          <input matInput class="green" value="0" placeholder="Qtd.Rolo">
      </mat-form-field>
      <mat-form-field id="quantRetalho">
          <input matInput class="green" value="0" placeholder="Qtd.Retalho">
      </mat-form-field>
      <mat-form-field id="quantSuc">
          <input matInput class="green" value="0" placeholder="Qtd.Sucata">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
      <div class="cortes">
        <mat-form-field id="quantBob">
            <input matInput class="yellow" value="0" placeholder="Corte Bob.">
        </mat-form-field>
        <mat-form-field id="quantRolo">
            <input matInput class="yellow" value="0" placeholder="Corte Rolo">
        </mat-form-field>
        <button id="reloadBtn"mat-mini-fab color="primary">
          <img src="../../../assets/img/baseline_cached_white_18dp.png" alt="">
        </button>
        <mat-form-field id="quantRetalho">
            <input matInput class="yellow" value="0" placeholder="Corte Ret.">
        </mat-form-field>
        <mat-form-field id="quantSuc">
            <input matInput class="yellow" value="0" placeholder="Corte Suc.">
        </mat-form-field>
      </div>
    <mat-divider></mat-divider>          
    <span>Quant Produzida</span>

    <div class="secondBlock">
    <mat-form-field id="bobina">
        <input matInput placeholder="Bobina">
    </mat-form-field>
    <mat-form-field id="rolo">
        <input matInput placeholder="Rolo">
    </mat-form-field>
    <mat-form-field id="retalho">
        <input matInput placeholder="Retalho">
    </mat-form-field>
    <mat-form-field id="sucata">
        <input matInput placeholder="Sucata">
    </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="thirdBlock">
    
    <div class="contRadio">
      <label> Teste do Spark: </label>
      <mat-radio-group >
        <mat-radio-button value="sim">Sim</mat-radio-button>
        <mat-radio-button value="nao">Não</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field id="ajusteSpark">
      <input matInput placeholder="Ajuste Spark">
    </mat-form-field>
    <div class="contRadio">        
      <mat-radio-group >
        <mat-radio-button value="sim">Devolver</mat-radio-button>
        <mat-radio-button value="nao">Produzir</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field id="obsRep">
      <input matInput placeholder="Obs. Rep">
    </mat-form-field>
    <mat-form-field id="sitLab">
      <input matInput placeholder="Sit. Lab">
    </mat-form-field>
    <button color="primary" mat-raised-button>Salvar</button>    
    </div>


      
    