
%spacementDefault {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

%centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

%smallInput {
    width: 65px;
}

%mediumInput {
    width: 120px;
}

%bigInput {
    width: 250px;
}

%largestInput {
    width: 310px;
}

.firstBlock {
    @extend %spacementDefault;
    margin-top: 25px;    
}

mat-form-field {
    text-align: center;
}

.mat-input-element:disabled {
    color: black;
}

.secondBlock{
    @extend %spacementDefault;
}

.thirdBlock{
    @extend %spacementDefault;
}

.contRadio{
    margin: 20px 0px 0px 0px;    
}

mat-radio-button{
    margin: 0px 10px 0px 0px;
}

.containerRep{
    padding: 0px;    
}

.quantidades {
    @extend %spacementDefault;
}

.cortes {
    @extend %spacementDefault;
}

.green {
    background-color: #b8e0d2;
    border-radius: 2px;
}

.yellow {
    background-color: #F58A07;
    border-radius: 2px;
}

.white {
    background-color: white;
    border-radius: 2px;
}

.contRadio{
    // background-color: #C46A71;
    border-radius: 2px;
}

#closeBtn{
     width: 16px;
    height: 16px;
    
    float: right;
}

#titleProd {
    @extend %centerAll;
}

#reloadBtn {
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
}

#lance, #ordemProd, #quantBob, #quantRolo,
#quantRetalho, #quantSuc, #bobina, #bobFinal,
#rolo, #retalho, #sucata, #quantBob, #variacao,
#quantRolo, #quantRetalho, #quantSuc, #bobMadeira
{
    @extend %smallInput;
}

#codProd, #ajusteSpark, #lote, #dimBob, 
#varPermMin, #varPerMax {
    @extend %mediumInput;
}

#sitLab {
    @extend %bigInput;
}

#cliente, #descProd, #obsOP, #obsRep {
    @extend %largestInput;
}

