
    .firstBlock {
        display: flex;
      flex-wrap: wrap;
    }
    mat-form-field {
        margin: 5px;
    }

    #lance{
        width: 50px;
    }
    #ordemProd{
        width: 90px;
    }
  
    #cliente{
        width: 200px;
    }
  
    #codProd{
        width: 120px;
    }
    
    #descProd {
        width: 200px;
    }
  
    #dimBob{
        width: 120px;
    }
  
    #bobMadeira{
        width: 100px;
    }

    #obsOP {
        width: 100%;
    }
