<div class="select-principal"> 

  <div class="elements">
    <h4>Informe a repassadeira atual de trabalho:</h4>
  </div>
    
  <div class="elements">
    <mat-form-field>
      <mat-label>Selecione uma repassadeira para produção</mat-label>
      <mat-select [(value)]="repassadeira">
        <mat-option value="4">Repassadeira 4</mat-option>
        <mat-option value="7">Repassadeira 7</mat-option>
        <mat-option value="9">Repassadeira 9</mat-option>
        <mat-option value="12">Repassadeira 12</mat-option>
        <mat-option value="19">Repassadeira 19</mat-option>
        <mat-option value="29">Repassadeira 29</mat-option>
        <mat-option value="38">Repassadeira 38</mat-option>
        <mat-option value="45">Repassadeira 45</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <div class="elements">
      <button (click)="closeSelectForm()" mat-raised-button color="primary">Selecionar</button>
    </div>


</div>
