
<h4>Informe a repassadeira atual de trabalho:</h4>
<p> Here {{ data.selectedRepass }} </p>

<mat-form-field>
  <mat-label>Selecione uma repassadeira para produção</mat-label>
  <mat-select [(value)]="repassadeira">
    <mat-option>nenhuma</mat-option>
    <mat-option value="1">Repassadeira 1</mat-option>
    <mat-option value="2">Repassadeira 2</mat-option>
    <mat-option value="3">Repassadeira 3</mat-option>
  </mat-select>
</mat-form-field>

<button (click)="closeSelectForm()" >Save</button>
