<div class="bg">
    <mat-toolbar class="menu-principal" color="primary">
        <mat-toolbar-row>
            <span class="logo-principal">
                <img src="../../assets/img/AF_Marca_Corfio_RGB_neg.png" alt="">
            </span>
            <span class="spacer">
                <nav>                     
                    <button mat-button>
                       <img src="../../assets/img/icons/2x/baseline_track_changes_white_18dp.png" alt="">     
                        Monitor OP
                    </button>
                    <button mat-button>
                        <img src="../../assets/img/icons/2x/baseline_rotate_left_white_18dp.png" alt="">
                        Repassadeira
                    </button>
                    <button mat-button>
                        <img src="../../assets/img/icons/2x/baseline_local_shipping_white_18dp.png" alt="">
                        Expedição
                    </button>
                </nav>
            </span>
            <a href="#"> <img src="../../assets/img/icons/2x/baseline_account_circle_white_18dp.png" aria-label="Logout" alt="Logout"> </a>
        </mat-toolbar-row>    
    </mat-toolbar>
</div>