%center {   display: flex;
    justify-content: center;
        align-items: center;
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('../../assets/font/Muli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button {     
    font-family: 'Muli-Regular', Verdana, sans-serif;
}

.icon {
    padding: 0 14px;
  }
  
.spacer {
    flex: 1 1 auto;
}

.logo-principal  {
    position: relative;
}

.logo-principal img {
    width: 150px;
}

.bg {
    background-image: url("../../assets/img/fundo_tratada.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-principal {
    box-shadow: 1;
    box-shadow: 0px 0px 4px 2px black;
}

.menu-principal button {
    margin: 0px 1px 0px 0px ;
}