/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Muli-Regular';
    src: url('./assets/font/Muli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mat-dialog-container{
    padding: 10px !important;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Muli-Regular', Verdana, sans-serif;
}

