

<div class="sending" *ngIf="loading">        
    <div>        
        <div>
            <mat-spinner>
            </mat-spinner>
        </div>        
        <div style="position:relative; top: 15px; left: 30px;">
            <h2>carregando OPs...</h2>
        </div>
        
    </div>
</div>

<div class="sending" *ngIf="sending">        
    <div>        
        <div>
            <mat-spinner>
            </mat-spinner>
        </div>        
        <div style="position:relative; top: 60px; left: 30px;">
            <h2>Enviando OPs...</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="table-container">
        <div class="table-header">            
                <div class="buttons">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="Produção">Produção</mat-button-toggle>
                        <mat-button-toggle value="Impressão de Etiqueta">Impressão de Etiqueta</mat-button-toggle>
                        <mat-button-toggle value="Atualizar Lista">Atualizar Lista</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>                            
            <div class="title">
                <h3> Repassadeiras. </h3>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-body">
                        
        </div>
    </div>
</div>