
<button (click)="openDialog2()">
	test
</button>

<div class="container"> 
	<div class="table-container">        
	<mat-divider></mat-divider>
	<span></span>
	<div class="subMenu">
		<mat-accordion *ngIf="repSelected">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
				<mat-panel-title>
				Produção
				</mat-panel-title>
				<mat-panel-description>
				Entrada de O.Ps para produção
				</mat-panel-description>
				</mat-expansion-panel-header>
				<div class="sending" *ngIf="loading">        
					<div>        
						<div>
							<mat-spinner>
							</mat-spinner>
						</div>        
							<div style="position:relative; top: 15px; left: 30px;">
							<h2>carregando O.Ps...</h2>
						</div>                
					</div>
				</div>
				<div class="tabela mat-elevation-z8" >
					<table mat-table [dataSource]="dataSource" matSort>
						<ng-container matColumnDef="produzir">
						<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
						<td mat-cell *matCellDef="let row">
								<button (click)="openDialog( row.numOp, 
															 row.nomeCli,
															 row.itCodigo,
															 row.descItem,
															 row.dimBob,
															 row.bobMad,
															 row.codLote,
															 row.lance,
															 row.observ,
															 row.finalBob,
															 row.podeVar,
															 row.qtPedMax,
															 row.qtPedMin,
															 row.quantPed,
															 row.quantRolo,
															 row.quantRet,
															 row.quantSuc,
															 row.corteBob,
															 row.corteRol,
															 row.corteRet,
															 row.corteSuc,
															 row.ajSpark,
															 row.amostra,
															 row.mmValida,
															 row.mPontaFora,
															 row.corteRol,
															 row.quantEtq,
															 row.codImp,
															 row.codProblema,
															 row.codProbSuc,
															 row.numOpPend )"
															 class="button-prod"
							mat-flat-button color="primary" matTooltip="O.P:...................................{{row.numOp}} &#13; 	  
																		NOME:..............................{{row.nomeCli}} &#13;
																		COD:.................................{{row.itCodigo}} &#13;
																		DESC:...............................{{row.descItem}} &#13;
																		DIM.BOB:..........................{{row.dimBob}} &#13;
																		BOB.MAD:.........................{{row.bobMad}} &#13;
																		LOTE:................................{{row.codLote}} &#13;
																		LANCE:..............................{{row.lance}} &#13;
																		OBS:..................................{{row.observ}} &#13;
																		FIM.BOB:...........................{{row.finalBob}} &#13;
																		VAR:...................................{{row.podeVar}} &#13;
																		VAR.MAX:..........................{{row.qtPedMax}} &#13;
																		VAR.MIN:...........................{{row.qtPedMin}} &#13;
																		QTD.BOB:..........................{{row.quantPed}} &#13;
																		QTD.ROL:..........................{{row.quantRolo}} &#13;
																		QTD.RET:...........................{{row.quantRet}} &#13;
																		QTD.SUC:..........................{{row.quantSuc}} &#13;"																		
							matTooltipPosition="left" matTooltipClass="custom-tooltip">Produzir</button>
							
						</td>
						</ng-container>
						
						<!-- prioridade Column -->
						<ng-container matColumnDef="prioridade" class="firstColumn">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridade </th>
								<td mat-cell *matCellDef="let row"> <span class="priori-cell"> {{ row.prioridade }} </span> </td>
						</ng-container>

						<!-- dtPriori Column -->
						<ng-container matColumnDef="dtPriori">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Data Prioridade </th>
								<td mat-cell *matCellDef="let row"> {{ row.dtPriori }} </td>
						</ng-container>

						<!-- destino Column -->
						<ng-container matColumnDef="destino">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
								<td mat-cell *matCellDef="let row"> {{ row.destino }} </td>
						</ng-container>

						<!-- op Column -->
						<ng-container matColumnDef="numOp">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Ordem Produção </th>
								<td #numOp mat-cell *matCellDef="let row"> {{ row.numOp }} </td>
						</ng-container>

						<!-- itCodigo Column -->
						<ng-container matColumnDef="itCodigo">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Código Produto </th>
								<td mat-cell *matCellDef="let row"> {{ row.itCodigo }} </td>
						</ng-container>

						<!-- descItem Column -->
						<ng-container matColumnDef="descItem">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. Prod. </th>
								<td mat-cell *matCellDef="let row"> {{ row.descItem }} </td>
						</ng-container>

						<!-- endereco Column -->
						<ng-container matColumnDef="endereco">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Endereco </th>
								<td mat-cell *matCellDef="let row"> {{ row.endereco }} </td>
						</ng-container>

						<!-- codLote Column -->
						<ng-container matColumnDef="codLote">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Lote </th>
								<td mat-cell *matCellDef="let row"> {{ row.codLote }} </td>
						</ng-container>

						<!-- lance Column -->
						<ng-container matColumnDef="lance">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Lance </th>
								<td mat-cell *matCellDef="let row"> {{ row.lance }} </td>
						</ng-container>
						
						<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
					<mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
				</div>
									
			</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
				<mat-panel-title>
					Impressão
				</mat-panel-title>
				<mat-panel-description>
					Impressão de etiqueta
				</mat-panel-description>
				</mat-expansion-panel-header>
					<p>I'm visible because I am open</p>
			</mat-expansion-panel>
		</mat-accordion>                                      
	</div>																		
	</div>
</div>